<div class="row">
  {{#each notes}}
  <div class="col-md-6 mb-4">
    <div class="card p-2 card-background">
      <div class="card-body shadow card-index">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ description }} </p>
        <!-- ELIMINAR -->
        <div class="d-flex justify-content-between align-items-center">
          <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST" onsubmit="return confirmDelete(event)">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
          </form>
           <p class="small mb-0">Vencimiento: {{dateLimit}}</p>
        </div>

      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola {{user.name}}</h1>
      <p clsss="lead">Aún no hay notas por aquí.</p>
      <a href="/notes/add" class="btn btn-success btn-block">Crea una!</a>
    </div>
  </div>
  {{/each}}
  <div class="d-flex justify-content-center mt-3">
    <a class="btn btn-light btn-md shadow" href="/notes/add" role="button">Añadir nota</a>
  </div>
</div>

<script>
  function confirmDelete(event) {
    event.preventDefault(); 
    Swal.fire({
      title: 'Confirmar eliminación',
      text: '¿Estás seguro de que deseas eliminar esta nota?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#000000',
      confirmButtonText: 'Sí, eliminar',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        event.target.submit();
      }
    });
  }
</script>
